rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId} {
      allow read, write: if true;
    }
    match /quotations/{quoteId} {
      allow read, write: if true;
    }
    match /shared_data/{docId} {
      allow read, write: if true;
    }
    match /calendar_events/{eventId} {
      allow read, write: if true;
    }
    match /project_templates/{templateId} {
      allow read, write: if true;
    }
    match /d_orders/{orderId} {
      allow read, write: if true;
    }
  }
}
